@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
