// colors
$c-primary: #333333;
$c-secondary: #4460c9;

$c-blue: #5896fe;
$c-blue-light: #E1EAFE;
$c-green: #61d135;
$c-green-light: #EAFEE1;
$c-grey: #757575;
$c-red: #fd6c6f;
$c-red-light: #FEE1E1;
$c-light-grey: #e8e8e8;

// container size
$cs-large: 1142px;
$cs-medium: 1024px;
$cs-small: 480px;

// font family
$ff-bold: 'Roboto-Bold', 'Helvetica Neue', Arial, sans-serif;
$ff-regular: 'Roboto-Regular', 'Helvetica Neue', Arial, sans-serif;

// font sizes
$fs-smallest: 0.77rem;
$fs-small: 0.8rem;
$fs-base: 1rem;
$fs-big: 1.38rem;
$fs-biggest: 2rem;

// breakpoints
$bp-desktop: 1280px;
$bp-small-desktop: 1145px;
$bp-tablet: 780px;
$bp-phone: 480px;
